body {
    background-color: #fff; /* Adicionado ; */
    font-family: Arial, sans-serif;
    color: #333; /* Adicionado ; */
}

h1 {
    font-size: 32px;
    text-align: center; /* Adicionado : */
    color: blue;
}

p {
    font-size: 16px; /* Adicionado ; */
    margin: 10px;    /* Adicionado ; */
    padding: 5px;
    color: red;
}